@use './../../../../../scss/variables' as *;
@use './../../../../../scss/breakpoints' as *;

@use 'sass:math';

.images {
    padding: $base-padding-4;

    .img {
        height: 550px;
        img {
            border-radius: $base-border-radius-2;
            width: 100%;
            max-height: 550px;
            object-fit: cover;
        }
    }

    .sliderElements {
        margin-top: -$base-margin-6;
        padding: 0 $base-padding-4;
        display: flex;
        gap: math.div($gap-mini, 2);

        .sliderElem {
            border-radius: $base-border-radius;
            height: 3px;
        }
    }
}

@include breakpoint(900px) {
    .images {
        .img {
            height: 350px;
            img {
                border-radius: $base-border-radius-2;
                width: 100%;
                max-height: 350px;
                object-fit: cover;
            }
        }
    }
}
@include breakpoint(600px) {
    .images {
        padding: 0;
        margin-left: -$base-gap;
        margin-right: -$base-gap;

        .img {
            height: 200px;
            img {
                max-height: 200px;
                border-radius: 0;
            }
        }
    }
}
