@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

.label {
    @extend .row-mini;

    align-items: center;
    margin-bottom: $base-margin-2;

    input {
        display: none;
    }
}
