@use './../../../../scss/variables' as *;
@use './../../../../scss/colors' as *;

.nav {
    width: 100%;
    @extend .bg-primary-dark-7;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        li {
            &:first-child {
                width: 20%;
                a {
                    display: flex;
                    gap: $base-gap;
                    align-items: center;

                    span {
                        @extend .text-white;
                    }

                    img {
                        height: 1em;
                    }
                }
            }
        }

        a {
            @extend .text-white;
            text-decoration: none;
            display: inline-block;
            padding: $base-padding-4;

            &:hover {
                @extend .bg-primary-dark-1;
            }
        }
    }
}
