@use './../../../../scss/variables' as *;
@use './../../../../scss/colors' as *;
@use './../../../../scss/display' as *;

@use 'sass:map';

.nav {
    width: 100%;
    @extend .bg-primary-dark-7;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        li {
            &:first-child {
                width: 20%;

                a {
                    @extend .row;
                    align-items: center;

                    span {
                        color: map.get($colors, 'white');
                    }

                    img {
                        height: 1em;
                    }
                }
            }
        }

        a {
            display: inline-block;

            color: map.get($colors, 'white');
            text-decoration: none;
            padding: $base-padding-4;

            &:hover {
                background-color: map.get($colors, 'primary');
            }
        }
    }
}
