@use './../../../../../scss/variables' as *;
@use './../../../../../scss/display' as *;

@use 'sass:math';
@use 'sass:map';

.promotion {
    @extend .row-mini;

    padding: $base-padding;
    padding-right: $base-padding-2;

    border-radius: $base-border-radius-9;
    background-color: map.get($colors, 'orange');

    .percentCount {
        font-size: $font-size-sm * 1.25;

        margin-left: $base-margin;

        padding: math.div($base-padding, 4) $base-padding-2;
        border-radius: $base-border-radius-9;

        background-color: map.get($colors, 'white');
    }

    .promotionValue {
        font-size: $font-size-sm * 1.25;
        color: map.get($colors, 'white');
    }
}
