@use './../../../../scss/variables' as *;

.button {
    padding: $base-padding-4;

    &:hover {
        background-color: var(--secondary);
    }

    &:last-child {
        color: var(--red);
        border-top: 1.5px solid var(--light-gray);
    }
}
