@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

@use 'sass:map';

.block {
    display: flex;
    flex-direction: column;
    gap: $base-gap;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .field {
            padding: $base-padding-4;
            border: 1px solid map.get($colors, 'medium-gray');
            border-radius: $base-border-radius;

            select {
                width: 200px;
                border: none;
                outline: none;
                option {
                    padding: $base-padding-4 !important;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: $base-gap;
    }
}
