@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;
@use './../../../scss/display' as *;

.block {
    @extend .column;

    .top {
        @extend .row-center;

        .field {
            padding: $base-padding-4;
            border: 1px solid var(--medium-gray);
            border-radius: $base-border-radius;

            select {
                width: 200px;
                border: none;
                outline: none;
                option {
                    padding: $base-padding-4 !important;
                }
            }
        }
    }

    .cards {
        @extend .row-wrap;
    }
}
