@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

@use 'sass:map';

.data {
    @extend .column;

    margin: -$base-margin-6 $base-margin-8 * 2;

    .top {
        display: flex;
        gap: $base-gap-3;

        div {
            @extend .column-mini;
        }

        .link {
            color: map.get($colors, 'primary');
        }
    }

    .button {
        width: max-content;
        height: max-content;
        padding: $base-padding-4;
    }
}
