@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;
@use './../../../../scss/breakpoints' as *;

.data {
    @extend .column;

    margin: -$base-margin-6 $base-margin-8 * 2;

    .top {
        display: flex;
        gap: $base-gap-3;

        img {
            width: 100px;
            height: 100px;
        }

        div {
            @extend .column-mini;
        }

        .link {
            color: var(--primary);
        }
    }

    .button {
        width: max-content;
        height: max-content;
        padding: $base-padding-4;
    }
}

@include breakpoint(900px) {
    .data {
        margin: 0;
    }
}

@include breakpoint(500px) {
    .data {
        .top {
            flex-direction: column;
            gap: $base-gap;
        }
    }
}
