@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

@use 'sass:map';

.paginator {
    @extend .row-mini;

    justify-content: center;
    margin: $base-margin-8 0;

    button {
        width: 48px;
        height: 48px;

        border: 1px solid map.get($colors, 'gray');
        border-radius: $base-border-radius;
    }

    .buttonStyleBase,
    .buttonStyleDisabled {
        color: map.get($colors, 'gray');
    }

    .elipsiss {
        font-size: $font-size-lg;
        font-weight: 500;
        align-self: self-end;
    }
}
