@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

.top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .left {
        @extend .column;

        .check {
            @extend .row-mini;
        }

        .field {
            width: max-content;
            padding: $base-padding-4;
            border: 1px solid var(--medium-gray);
            border-radius: $base-border-radius;
            gap: $gap-mini;

            select {
                width: 200px;
                border: none;
                outline: none;
                option {
                    padding: $base-padding-4 !important;
                }
            }
        }
    }
}
