@use './../../../../scss/colors' as *;
@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;
@use './../../../../scss/breakpoints' as *;

@use 'sass:math';

.information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $base-gap-6;

    border-bottom: 1px solid var(--black);
    padding-bottom: $base-padding-6;

    .contacts {
        @extend .column;

        img {
            width: 150px;
        }

        div {
            @extend .column-mini;
            gap: math.div($gap-mini, 2);
        }

        .connection {
            .phone {
                font-weight: 600;
            }
            .time {
                font-size: $font-size-sm * 1.1;
            }
        }

        .addresses {
            address {
                font-style: normal;
            }
        }
    }

    .linksGroup {
        @extend .column;

        .groupTitle {
            font-size: $font-size-md;
            font-weight: 500;
        }

        .links {
            @extend .column-mini;
        }
    }
}

@include breakpoint(1000px) {
    .information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $base-gap-3;
    }
}

@include breakpoint(500px) {
    .information {
        display: grid;
        grid-template-columns: 1fr;
    }
}
