@use './../../../../scss/colors' as *;
@use './../../../../scss/variables' as *;
@use 'sass:math';

.information {
    display: flex;
    gap: $base-gap-6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: $base-padding-6;

    .contacts {
        display: flex;
        flex-direction: column;
        gap: $base-gap;

        img {
            width: 150px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: math.div($gap-mini, 2);
        }

        .connection {
            .phone {
                font-weight: 600;
            }
            .time {
                font-size: $font-size-sm * 1.1;
            }
        }

        .addresses {
            address {
                font-style: normal;
            }
        }
    }

    .linksGroup {
        display: flex;
        flex-direction: column;
        gap: $base-gap;

        .groupTitle {
            font-size: $font-size-md;
            font-weight: 500;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: $gap-mini;
        }
    }
}
