@use './../../../../scss/variables' as *;

.tableWrapper {
    width: 100%;
    overflow-x: auto;

    .categoryTable {
        td,
        th {
            border: 1px solid var(--gray);
            padding: $base-padding-4;
        }

        td {
            color: var(--gray);

            &:first-child {
                color: var(--black);
                font-weight: bolder;
            }
        }
    }
}
