@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

.mainPart {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: $base-gap;

    .left {
        @extend .column;
        .orderBlock {
            padding: $base-padding-8;
            border: 1.75px solid var(--secondary);
            border-radius: $base-border-radius-3;

            .blockTitle,
            .blockTitleGray {
                font-size: $font-size-lg;
                padding-bottom: $base-padding-4;
            }

            .blockTitleGray {
                color: var(--gray);
                padding-bottom: 0;
            }
        }
    }
}
