@use './../../../../../scss/variables' as *;
@use './../../../../../scss/colors' as *;
@use './../../../../../scss/display' as *;

@use 'sass:map';

.links {
    .link {
        @extend .row;
        align-items: center;
        padding: $base-padding-2;
        background-color: map.get($colors, 'secondary');

        &:last-of-type {
            border-bottom-left-radius: $base-padding-2;
            border-bottom-right-radius: $base-padding-2;
        }

        &:hover {
            @extend .bg-primary-light-6;
        }
    }
}
