@use './../../../../../scss/variables' as *;
@use './../../../../../scss/colors' as *;
@use './../../../../../scss/display' as *;
@use './../../../../../scss/breakpoints' as *;

.links {
    .link {
        @extend .row-ac;
        padding: $base-padding-2;
        background-color: var(--secondary);

        &:last-of-type {
            border-bottom-left-radius: $base-padding-2;
            border-bottom-right-radius: $base-padding-2;
        }

        &:hover {
            @extend .bg-primary-light-6;
        }
    }
}

@include breakpoint(1450px) {
    .links {
        display: none;
    }
}
