@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;
@use './../../../scss/breakpoints' as *;

.productsGroup {
    @extend .column;
    margin: $base-margin-8 0;

    .top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: $base-gap;
    }

    .productCards {
        display: flex;
        flex-wrap: wrap;
        gap: $base-gap;
    }
}

@include breakpoint(400px) {
    .productsGroup {
        .top {
            * {
                padding: 0;
            }
            gap: $base-gap;
        }
    }
}
