@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

.productsGroup {
    @extend .column;
    margin: $base-margin-8 0;

    .top {
        display: flex;
        gap: $base-gap-2;
        align-items: center;

        .title {
            font-size: $font-size-xl;
        }
    }

    .productCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
