@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

.links {
    width: 370px;
    height: max-content;

    display: flex;
    flex-direction: column;

    border: 1.5px solid var(--secondary);
    border-radius: $base-border-radius-2;
}

@include breakpoint(450px) {
    .links {
        width: 300px;
    }
}
