@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

.buttons {
    @extend .row-mini;
    align-self: flex-end;

    button {
        width: 50px;
        height: 50px;
        border: 1px solid var(--secondary);
        border-radius: 50%;
    }
}
