@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

@use 'sass:map';

.vacancieForm {
    @extend .column;
    height: max-content;
    border: 1.5px solid map.get($colors, 'light-gray');
    border-radius: $base-border-radius-3;
    padding: $base-padding-4 $base-padding-8;

    input {
        width: 100%;
    }
}
