@use './../../../../../scss/variables' as *;
@use './../../../../../scss/display' as *;
@use './../../../../../scss/breakpoints' as *;

.mainInformation {
    @extend .column;
    
    grid-area: 'information';
    padding: $base-padding-4;

    border: 1px solid var(--secondary);
    border-radius: $base-border-radius-3;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .buttons {
            @extend .row-mini;
        }
    }

    .bottom {
        @extend .row-center;

        .price {
            @extend .column-mini;

            .top {
                @extend .row-ac-mini;
                width: max-content;
            }
        }

        .buttons {
            width: min(600px, 100%);
            @extend .row-mini;

            button {
                width: 100%;
            }
        }
    }
}

@include breakpoint(950px) {
    .top {
        flex-direction: column;
        gap: $gap-mini;
    }
    .bottom {
        flex-direction: column;
        gap: $gap-mini;
        .price {
            align-self: flex-start;
        }
        .buttons {
            flex-direction: column !important;
            button {
                width: max-content;
                padding: 0 !important;
            }
        }
    }
}
