@use './../../../scss/variables' as *;
@use './../../../scss/colors' as *;

@use 'sass:map';

.header {
    padding: $base-padding-3;

    .topPart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .information {
            display: flex;
            gap: $base-gap;

            .phones {
                display: flex;
                gap: $base-gap;
    
                .phone {
                    color: map.get($colors, 'black');
                    font-weight: bold;
                }
            }

            .time {
                @extend .text-gray-dark-3;
            }
        }

        .buttons {
            display: flex;
            gap: $gap-mini;

            button {
                border: none;
                background-color: transparent;
            }
            
            .login {
                @extend .bg-primary-dark-1;
                @extend .text-white;
                padding: $base-padding-3 $base-padding-8;
                border-radius: $base-border-radius;
                font-size: $font-size-md;
            }
        }
    }
}

nav {
    ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
            height: max-content;
            &:first-child {
                a {
                    display: flex;
                    gap: $base-gap;
                    align-items: center;
                    padding-right: $base-padding-9 * 3.5;
                }
            }
        }

        a {
            @extend .text-white;
            text-decoration: none;
            display: inline-block;
            padding: $base-padding-5 $base-padding-4;

            &:hover {
                @extend .bg-primary-dark-1;
            }
        }
    }
}