@use './../../../../../scss/display' as *;
@use './../../../../../scss/variables' as *;

.selectedInformation {
    @extend .row-center;

    .images {
        @extend .row;
        flex-wrap: wrap;
        img {
            width: 70px;
            height: 70px;

            border: 1.5px solid var(--secondary);
            border-radius: $base-border-radius;
        }
    }
}
