@use './../../../../../scss/display' as *;
@use './../../../../../scss/variables' as *;

@use 'sass:map';

.selectedInformation {
    @extend .row-center;

    .images {
        @extend .row;
        flex-wrap: wrap;
        img {
            width: 70px;
            height: 70px;

            border: 1.5px solid map.get($colors, 'secondary');
            border-radius: $base-border-radius;
        }
    }
}
