@use './../../../../scss/variables' as *;
@use 'sass:map';

.history {
    width: 100%;
    background-color: var(--secondary);
    padding: $base-padding-8;
    border: 1.5px solid var(--light-gray);
    border-radius: $base-border-radius-2;
}
