@use './../../../scss/variables' as *;
@use './../../../scss/colors' as *;
@use 'sass:map';

.links {
    display: flex;
    flex-wrap: wrap;
    gap: $base-gap-2;
    margin-top: $base-margin-8;
    padding-left: $base-padding-4;

    .link[data-active] {
        color: map.get($colors, 'gray');
    }

    .link + .link {
        position: relative;
        left: 1em;
    }

    .link + .link::before {
        position: absolute;
        width: 1em;
        content: '►';
        left: -1.5em;
    }
}
