@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

.links {
    @extend .row-wrap;
    gap: $base-gap-2;
    
    margin-top: $base-margin-8;
    padding-left: $base-padding-4;

    .link[data-active] {
        color: var(--gray);
    }

    .link + .link {
        position: relative;
        left: 1em;
    }

    .link + .link::before {
        position: absolute;
        width: 1em;
        content: '►';
        left: -1.5em;
    }
}
