@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

@use 'sass:map';

.header {
    padding: $base-padding-3;

    .topPart {
        @extend .row-center;

        .information {
            @extend .row;
            .phones {
                @extend .row;
                .phone {
                    color: map.get($colors, 'black');
                    font-weight: 500;
                }
            }
        }

        .buttons {
            @extend .row-mini;

            .login {
                padding: $base-padding-3 $base-padding-8 !important;
            }
        }
    }
}
