@use './../../../../scss/variables' as *;
@use './../../../../scss/breakpoints' as *;
@use './../../../../scss/display' as *;

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: $base-padding-6;
    gap: $base-gap;
    row-gap: $base-gap-2;

    .product {
        @extend .row;
        align-items: center;
    }
}

@include md {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include breakpoint(500px) {
    .products {
        grid-template-columns: 1fr;
    }
}
