@use './../../../../scss/variables' as *;
@use './../../../../scss/breakpoints' as *;
@use './../../../../scss/display' as *;

.products {
    @extend .grid-3;
    gap: $base-gap;
    row-gap: $base-gap-2;

    padding-bottom: $base-padding-6;

    .product {
        @extend .row-ac;
    }
}

@include md {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include breakpoint(500px) {
    .products {
        grid-template-columns: 1fr;
    }
}
