@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;
@use './../../../scss/breakpoints' as *;

@use 'sass:map';
@use 'sass:math';

.card {
    @extend .column;
    justify-content: space-between;

    width: 326px;
    position: relative;
    padding: $base-padding-4;

    border-width: 1px;
    border-style: solid;
    border-radius: $base-border-radius-2;

    &:hover {
        box-shadow: 2px 4px 8px map.get($colors, 'gray');
    }

    .statuses {
        position: absolute;
        right: $base-padding-4;

        @extend .column-mini;
        align-items: flex-end;

        .status {
            width: max-content;

            border-width: 1px;
            border-radius: $base-border-radius;
            padding: $base-padding $base-padding-2;

            color: map.get($colors, 'white');
            background-color: map.get($colors, 'red');
        }

        .status[data-status='Новинка'] {
            background-color: map.get($colors, 'green');
        }
    }

    .top {
        @extend .column;
        gap: $gap-mini * 1.5;

        .title {
            font-size: $font-size-md;
            font-weight: normal;
        }

        img {
            max-width: 100%;
        }
    }

    .bottom {
        @extend .column;
        gap: $gap-mini * 1.5;
        .bottomInformation {
            @extend .row-center;
        }

        .buttons {
            @extend .row;
        }

        .buttonsInf {
            @extend .row-mini;
        }
    }
}

@include breakpoint(450px) {
    .card {
        width: 280px;
    }
}
