@use './../../../scss/variables' as *;
@use './../../../scss/mixins' as *;

@use 'sass:map';
@use 'sass:math';

.card {
    width: 326px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: $gap-mini * 1.5;

    border-width: 1px;
    border-style: solid;
    border-radius: $base-border-radius-2;

    padding: $base-padding-4;

    &:hover {
        @include box-shadow(2px, 4px, 8px, map.get($colors, 'gray'));
    }

    .statuses {
        position: absolute;
        right: $base-padding-4;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: $gap-mini;

        .status {
            width: max-content;
            border-width: 1px;
            border-radius: $base-border-radius;
            padding: $base-padding $base-padding-2;
        }
    }

    .title {
        font-size: $font-size-md;
        font-weight: normal;
    }

    .bottomInformation {
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        gap: 1em;
    }

    .buttonsInf {
        display: flex;
        gap: $gap-mini;
    }
}
