@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

.cardsBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: $base-gap-2;
    row-gap: $base-gap;
    @include md {
        grid-template-columns: 1fr;
    }
}

@include breakpoint(1100px) {
    .cardsBlock {
        grid-template-columns: 1fr;
    }
}
