@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;
@use './../../../scss/display' as *;

.cardsBlock {
    @extend .grid-2;
    gap: $base-gap-2;
    row-gap: $base-gap;
}

@include breakpoint(1100px) {
    .cardsBlock {
        grid-template-columns: 1fr;
    }
}
