@use './../../../scss/variables' as *;

.news {
    width: 100%;
    display: flex;
    gap: $base-gap-2;
    padding: $base-padding-6;
    border-radius: $base-border-radius-2;

    img {
        width: 150px;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: $base-gap-2;

        .title {
            font-size: $font-size-lg;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
        }
    }
}
