@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;
@use './../../../scss/display' as *;

@use 'sass:map';

.news {
    width: 100%;

    @extend .row;
    gap: $base-gap-2;

    padding: $base-padding-6;
    border-radius: $base-border-radius-2;

    background-color: map.get($colors, 'secondary');

    img {
        width: 150px;
    }

    .information {
        @extend .column;
        gap: $base-gap-2;

        .title {
            font-size: $font-size-lg;
        }

        .bottom {
            @extend .row-center;

            time {
                color: map.get($colors, 'gray');
            }
        }
    }
}

@include breakpoint(500px) {
    .news {
        flex-direction: column;

        img {
            height: 160px;
            width: 100%;
            object-fit: cover;
        }
    }
}
