@use './../../../scss/variables' as *;
@use './../../../scss/colors' as *;

.news {
    @extend .bg-primary-light-8;
    padding: $base-padding-6;
    width: 640px;
    display: flex;
    gap: $base-gap-2;
    border-radius: $base-border-radius-2;

    .information {
        display: flex;
        flex-direction: column;
        gap: $base-gap-2;

        .title {
            font-size: $font-size-lg;
        }

        .bottom {
            display: flex;
            justify-content: space-between;

            button {
                @extend .text-primary-dark-4;
            }

            time {
                @extend .text-gray;
            }
        }
    }
}