.block {
    position: relative;

    .products {
        position: absolute;
        right: 0;

        display: inline-block;

        width: 20px;
        height: 20px;

        text-align: center;

        color: var(--white);
        background-color: var(--primary);

        border-radius: 50%;
    }
}
