@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

.offerCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $base-gap-2;
}

@include breakpoint(900px) {
    .offerCards {
        grid-template-columns: 1fr;
    }
}
