@use './../../../../../../scss/variables' as *;
@use './../../../../../../scss/display' as *;

.information {
    display: flex;
    .magazines {
        @extend .column;

        margin-top: $base-margin-6;
        height: 300px;
        overflow-y: auto;
        .radio {
            flex-direction: row;
            align-items: flex-start;

            .radioInformation {
                @extend .column-mini;
            }

            * {
                padding: 0;
            }
        }
    }
}
