@use './../../../../../scss/variables' as *;

.characteristic {
    border-bottom: 1px solid var(--secondary);

    td {
        padding: $base-padding-4;
    }

    .title {
        font-weight: 600;
    }

    .value {
        color: var(--gray);
    }
}
