@use './../../../../../scss/variables' as *;
@use 'sass:map';

.characteristic {
    border-bottom: 1px solid map.get($colors, 'secondary');

    td {
        padding: $base-padding-4;
    }

    .title {
        font-weight: 600;
    }

    .value {
        color: map.get($colors, 'gray');
    }
}
