@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

@use 'sass:map';

.field {
    display: flex;

    border: 1px solid #eaeaf0;
    background-color: map.get($colors, 'white');
    padding: $base-padding-4;
    border-radius: $base-border-radius;

    datalist {
        display: block;
    }

    &::placeholder {
        color: map.get($colors, 'gray');
    }

    input,
    textarea {
        border: none;
        outline: none;
    }
}
