@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;

.form {
    width: max-content;
    background-color: var(--secondary);
    padding: $base-padding-8;
    padding-top: $base-padding-4;

    border-radius: $base-border-radius-2;
}

@include breakpoint(750px) {
    .form {
        align-self: flex-start;
    }
}

@include breakpoint(400px) {
    .form {
        padding: $base-padding-4;
    }
}
