@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;
@use './../../../scss/breakpoints' as *;

.installment {
    .bottom {
        @extend .row-ac;
        gap: $base-gap-3;

        h2 {
            font-size: $font-size-lg;
        }

        .information {
            @extend .column-mini;
            h2 {
                font-weight: 600;
            }
        }
    }
    img {
        max-width: 100%;
    }
}

@include breakpoint(750px) {
    .bottom {
        flex-direction: column;

        h2,
        .information {
            align-self: flex-start;
        }
    }
}
