@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

.addresses {
    ul {
        list-style-type: none;

        @extend .column-mini;

        padding: $base-padding-2 0;

        li {
            font-style: normal;
            font-weight: 700;
        }
    }
}
