@use './../../../../scss/variables' as *;

.addresses {
    ul {
        list-style-type: none;

        display: flex;
        flex-direction: column;
        gap: $gap-mini;

        padding: $base-padding-2 0;

        li {
            font-style: normal;
            font-weight: 700;
        }
    }
}
