@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;
@use './../../../../scss/display' as *;

.input {
    @extend .row-ac;
    gap: $base-gap-2;

    width: max-content;

    border: 1px solid #eaeaf0;
    padding: $base-padding-4;
    border-radius: $base-border-radius;

    div {
        @extend .row-ac-mini;

        input {
            border: none;
            outline: none;
        }
    }
}
