@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

@use 'sass:map';

.review {
    @extend .column;
    padding: $base-padding-6;
    border-radius: $base-border-radius-3;
    background-color: map.get($colors, 'secondary');

    .top {
        @extend .row;
        align-items: center;

        .img {
            @extend .row-center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            justify-content: center;

            .letter {
                font-weight: bold;
                font-size: $font-size-md;
            }
        }

        .block {
            @extend .row-mini;
            align-items: center;
        }

        .author,
        .time,
        .grade {
            font-weight: bolder;
        }

        .grade, .time {
            color: map.get($colors, gray);
        }
    }
}
