@use './../../../../../../scss/variables' as *;
@use 'sass:map';

.addressCard {
    display: flex;
    flex-direction: column;
    gap: $gap-mini;
    padding: $base-padding-2 $base-padding-6;
    background-color: map.get($colors, 'secondary');

    .phone {
        font-size: $font-size-lg;
        font-weight: 600;
        color: map.get($colors, 'primary');
    }
}
