@use './../../../../../scss/variables' as *;
@use './../../../../../scss/breakpoints' as *;
@use './../../../../../scss/display' as *;

.reviewsBottom {
    display: flex;
    gap: $base-gap-4;

    .reviews {
        @extend .column;
        gap: $base-gap-2;
    }

    .addReview {
        @extend .column;
    }
}

@include breakpoint(1100px) {
    .reviewsBottom {
        flex-direction: column;
        gap: $base-gap;
        button {
            width: max-content;
            padding: 0 $base-padding-8 * 2;
        }
    }
}
