@use './variables' as *;
@use 'sass:map';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif; 
    font-size: $base-font-size;
    color: map.get($colors, 'black');
}

.container {
    width: min(94%, 100em);
    margin: 0 auto;
}

.row {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
