@use './../../../../scss/variables' as *;
@use './../../../../scss/display' as *;

.form {
    @extend .column;

    height: max-content;
    padding: $base-padding-8;

    border: 1px solid var(--medium-gray);
    border-radius: $base-border-radius-2;
}
