@use './../../../../../scss/variables' as *;

.information {
    display: flex;
    gap: $base-gap-2;

    .block {
        display: flex;
        align-items: flex-start;
        gap: $base-gap;
        
        .text {
            display: flex;
            flex-direction: column;
            gap: $gap-mini;
        }
    }
}
