@use './../../../../../scss/variables' as *;
@use './../../../../../scss/display' as *;
@use './../../../../../scss/breakpoints' as *;

.information {
    grid-area: 'mini-information';
    display: flex;
    gap: $base-gap-2;

    .block {
        @extend .row;
        align-items: flex-start;

        .text {
            @extend .column-mini;
        }
    }
}

@include breakpoint(950px) {
    .information {
        flex-direction: column;
    }
}
