@use './../../../../../scss/variables' as *;
@use './../../../../../scss/display' as *;

.information {
    display: flex;
    gap: $base-gap-2;

    .block {
        @extend .row;
        align-items: flex-start;

        .text {
            @extend .column-mini;
        }
    }
}
