@use './../../../scss/variables' as *;
@use './../../../scss/breakpoints' as *;
@use 'sass:map';

.footer {
    margin-top: $base-margin-8;
    padding: $base-padding-6;
    background-color: map.get($colors, 'secondary');
}

@include breakpoint(1450px) {
    .footer {
        margin-bottom: calc($base-padding-4 * 2 + 1rem + 8px + 24px);
    }
}
